@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANYekanWeb';
  src: url('../public/fonts/IRANYekanWeb.eot');
  src: url('../public/fonts/IRANYekanWeb.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/IRANYekanWeb.woff2') format('woff2'),
      url('../public/fonts/IRANYekanWeb.woff') format('woff'),
      url('../public/fonts/IRANYekanWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body{

    font-family: "IRANYekanWeb";
}
